.popup-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;

  &:hover {
    background-color: #c3bfbb;
  }
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s;

  &.visible {
    display: flex;
  }
}


.popup-content {
  background-color: rgba(255, 255, 255, 0.182);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(40, 75, 171, 0.5),
              -6px -6px 10px rgba(234, 8, 234, 0.5);
  transition: all 0.3s ease-in-out;
  animation: popupScale 0.3s ease-in-out;

  @keyframes popupScale {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .neomorphism-input {
    border: none;
    background: #f0f0f0;
    padding: 15px;
    font-size: 16px;
    color: #333;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgb(255, 0, 157),
                -6px -6px 10px rgba(27, 143, 251, 0.996);
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      box-shadow: 4px 4px 6px rgba(199, 199, 199, 0.5),
                  -4px -4px 6px rgba(255, 255, 255, 0.5);
    }
  }

  .close-button {
    position: relative;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    color: #777;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #333;
    }
  }
}
