// Definición de variables
$jumbotron-backgroundcolor: rgb(101, 83, 83);

// Estilos para .divporq
.divporq {
  background: #e0e0e0;
}

// Estilos para .descrip
.descrip {
  font-size: 1.5rem;
  flex: 1;
  background: #88888857;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  color: white;
  padding: 40px;
  font-weight: normal;
  margin: 2rem 0;
}

// Estilos para .descriptit y .descriptit2
.descriptit, .descriptit2 {
  margin: 5vh 2vw;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  background-image: linear-gradient(to right, #7c4817, #c4a198, #c4a198, #7c4817);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 70px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

// Estilos para .menu
.menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3e0d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 40px;
  justify-content: center;

  // Estilos para .menu-item
  .menu-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;

    // Estilos para imágenes dentro de .menu-item
    img {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      object-fit: cover;
      max-height: 300px;
    }

    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
      color: #4e3629;
    }

    p {
      margin-top: 5px;
      font-size: 0.9em;
      color: #7d7d7d;
    }
  }

  @media (max-width: 768px) {
    .menu-item {
      width: 100%;
    }
  }
}
