$jumbotron-backgroundcolor: #655353;

.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 9vh;
    padding: 10vw; /* 10vw padding */
    //background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px #0000004d;
    z-index: 1000;
    background-color: $jumbotron-backgroundcolor;
    background: #781a1a57;  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    @media (max-width: 768px) {
        padding: 10vw 5vw;
    }
  
    .navbar-container {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      a {
        color: #000000;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 1rem;
      }

    }

    .logo {
      position:static;
      float: right;
      color: #eeee;
      width: 20px;
      margin-left: 10px;
    }

  }